* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #282626;
}

.App {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    background: #32238282;
    height: 100vh;
    width: 50vw;
    font-size: 20px;
    font-family: 'Bookman Old Style', sans-serif;
}
.header {
    background: blueviolet;
    min-height: 50px;
}
.body {
    background: antiquewhite;
    min-height: 70vh;
    display: flex;
    justify-content: end;
}
.text-bar{
    background: blueviolet;
    min-height: 100px;
}
